.header{
    min-height: 42px;
    background: gray;
    color: white;
    padding: 10px 8px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 500;
    margin-left: -16px;
    margin-right: -16px;
    div{
        text-align: center;
        
    }
}