<expand-table [columns]="columns" [dataSource]="vehicleDataSource">
    <ng-container *expandDetails="let vehicle">
        <div fxLayout="column" class="m-t-10 m-b-10 width-100" fxLayoutGap="10px">
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.VEHICLE_TYPE' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.type }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.BORE_SIZE' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.boreSize }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.VEHICLE_NO' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.registrationNumber }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.OWNER' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.ownedBy }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.REG_ADDR' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.registrationAddress }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.MANUFACTURER' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.manufacturer }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.YEAR_MANUFACTURE' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.yearOfManufacture }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.ENGINE_NO' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.engineNumber }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-12" fxFlex="30">{{ 'ADD_VEHICLE.CHASSIS_NUMBER' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.chassisNumber }}</div>
            </div>
            <div class="header" fxLayout="column" fxLayoutAlign="center center">
                <div>{{ 'ADD_VEHICLE.CONTACT_DETAILS.TITLE' | translate }}</div>
                <div>{{ 'ADD_VEHICLE.CONTACT_DETAILS.MSG' | translate }}</div>
            </div>
            <ng-container *ngFor="let contact of vehicle.contacts">
                <ng-container *ngIf="contact">
                    <div fxLayout fxLayoutGap="10px">
                        <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.CONTACT_DETAILS.CONTACT_TYPE' | translate
                            }}</div>
                        <div class="bold">:</div>
                        <div>{{ contact?.type || 'NA' }}</div>
                    </div>
                    <div fxLayout fxLayoutGap="10px">
                        <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.CONTACT_DETAILS.MOBILE_NUMBER' |
                            translate }}</div>
                        <div class="bold">:</div>
                        <div>{{ contact?.mobileNumber || 'NA' }}</div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="header" fxLayout="column" fxLayoutAlign="center center">{{
                'ADD_VEHICLE.INSURANCE_DETAILS.TITLE' | translate }}</div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.INSURANCE_DETAILS.COMPANY_DETAILS' |
                    translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.insurance_companyDetails }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.GENERAL.VALID_UPTO' |
                    translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.insurance_validUpto | date: 'dd-MM-yyyy' }}</div>
            </div>
            <div class="header" fxLayout="column" fxLayoutAlign="center center">{{
                'ADD_VEHICLE.LABOUR_INSURANCE_DETAILS.TITLE' | translate }}</div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.LABOUR_INSURANCE_DETAILS.COMPANY_DETAILS' |
                    translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.labourInsurance_companyDetails }}</div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.GENERAL.VALID_UPTO' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.labourInsurance_validUpto | date: 'dd-MM-yyy' }}</div>
            </div>
            <div class="header" fxLayout="column" fxLayoutAlign="center center">{{ 'ADD_VEHICLE.PERMIT_DETAILS.TITLE' |
                translate }}</div>
            <ng-container *ngFor="let permit of vehicle.permits">
                <ng-container *ngIf="permit">
                    <div fxLayout fxLayoutGap="10px">
                        <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.PERMIT_DETAILS.STATE' | translate }}</div>
                        <div class="bold">:</div>
                        <div>{{ permit.state }}</div>
                    </div>
                    <div fxLayout fxLayoutGap="10px">
                        <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.GENERAL.VALID_UPTO' | translate }}</div>
                        <div class="bold">:</div>
                        <div>{{ permit.validUpto | date: 'dd-MM-yyyy'}}</div>
                    </div>
                </ng-container>
            </ng-container>
            <div class="header" fxLayout="column" fxLayoutAlign="center center">
                {{ 'ADD_VEHICLE.ROAD_TAX.TITLE' | translate }}
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.GENERAL.VALID_UPTO' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.roadTax_validUpto | date: 'dd-MM-yyyy'}}</div>
            </div>
            <div class="header" fxLayout="column" fxLayoutAlign="center center">
                {{ 'ADD_VEHICLE.FITNESS_CERT.TITLE' | translate }}
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.GENERAL.VALID_UPTO' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.fitness_validUpto | date: 'dd-MM-yyyy' }}</div>
            </div>
            <div class="header" fxLayout="column" fxLayoutAlign="center center">
                {{ 'ADD_VEHICLE.POLLUTION_CERT.TITLE' | translate }}
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex="30" class="bold font-12">{{ 'ADD_VEHICLE.GENERAL.VALID_UPTO' | translate }}</div>
                <div class="bold">:</div>
                <div>{{ vehicle.pollution_validUpto | date: 'dd-MM-yyyy' }}</div>
            </div>
        </div>
    </ng-container>
</expand-table>