<form [formGroup]="form">
    <div fxLayout="column">
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.SELECT_RIG' | translate }}</mat-label>
                <mat-select formControlName="rig" required>
                    <mat-option *ngFor="let rig of rigs" [value]="rig.value">{{ rig.display }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.DATE' | translate }}</mat-label>
                <input matInput required readonly [matDatepicker]="dp">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp>
                </mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.SELECT_BORE_TYPE' | translate }}</mat-label>
                <mat-select formControlName="boreType" required>
                    <mat-option *ngFor="let boreType of boreTypes" [value]="boreType.value">{{ boreType.display }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.PARTY_NAME' | translate }}</mat-label>
                <input matInput formControlName="partyName" type="text" required>
                <!-- <mat-error>Party Name is required</mat-error> -->
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.PARTY_STATE' | translate }}</mat-label>
                <mat-select formControlName="partyState" required>
                    <mat-option [value]="partyState.value" *ngFor="let partyState of partyStates">{{
                        partyState.display }}</mat-option>
                </mat-select>
            </mat-form-field>
            <div fxHide.lt-md fxFlex="33"></div>
        </div>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.PARTY_CITY' | translate }}</mat-label>
                <mat-select formControlName="partyCity">
                    <mat-option [value]="partyCity.value" *ngFor="let partyCity of partyCities">{{
                        partyCity.display }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.PARTY_MOBILE_NUMBER' | translate }}</mat-label>
                <input type="text" formControlName="partyMobile" matInput>
            </mat-form-field>

            <mat-form-field fxFlex="33" fxFlex.lt-md [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.CASING_TYPE' | translate }}</mat-label>
                <mat-select formControlName="casingType">
                    <mat-option [value]="casing.value" *ngFor="let casing of casingTypes">{{ casing.display }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout fxLayout.lt-md="column" fxLayoutGap="20px">
            <mat-form-field fxFlex [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.PIPE_SELECTION' | translate }}</mat-label>
                <mat-select formControlName="pipeSelection">
                    <mat-option [value]="pipe.value" *ngFor="let pipe of pipes">{{ pipe.display }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</form>