<mat-card [formGroup]="form">
    <mat-card-header>
        <mat-card-title>Casing Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div fxLayout="column">
            <div fxLayout fxLayoutGap="10px" *ngFor="let casing of casingTypes">
                <div fxFlex="35" fxFlex.gt-sm="20" class="bold" fxLayout fxLayoutAlign="start center">
                    <div class="m-b-17">
                        {{casing.name}}
                    </div>
                </div>
                <mat-form-field fxFlex class="calc-field" [appearance]="appearance">
                    <mat-label>Depth</mat-label>
                    <input type="text" matInput [formControlName]="casing.ctrlName" (input)="onCasingChange()">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>