mat-toolbar{
    position: relative;
    z-index: 2;
}

.space{
    flex: 1 1 100%
}

.avatar-btn{
    background: none;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;

    .img-container{
        background-color: white;
        height: 40px;
        min-width: 40px;
        margin: 0 8px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar-text{
            font-size: 20px;
            font-weight: bold;
            color: #006064;
        }
    }
}

.profile-pic{
    height: 42px;
    min-width: 42px;
    margin-right: 16px;
    border-radius: 50%;
    background-size: cover;
    background-image: url('../../assets/images/photo.jpg')
}

.profile-name{
    font: 500 19px/24px Roboto, "Helvetica Neue", sans-serif;
}

.profile-email{
    font-size: 15px;
}
.profile-card{
    padding: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.profile-role{
    color: #065fd4;
    margin-top: 10px;
}
.truncate-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.profile-items{
    ul{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
            &:hover{
                background-color: #eee;
            }
            cursor: pointer;
            min-height: 42px;
            display: flex;
            align-items: center;
            mat-icon{
                margin: 0 16px;
            }
            .item-label{
                line-height: 24px;
            }
        }
    }
}

.profile-details{
    min-width: 0px;
}