<div ngClass.gt-sm="p-16" fxLayout.gt-sm="column" fxLayoutGap.gt-sm="16px">
    <casing-details-rpm [form]="form.get('casing')"></casing-details-rpm>
    <rpm-details-rpm-entry [form]="form"></rpm-details-rpm-entry>
    <bit-details-rpm-entry [form]="form"></bit-details-rpm-entry>
    <mat-card class="no-box-shadow">
        <mat-card-header>
            <mat-card-title>Hammer Depth</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout fxLayoutAlign="center center">
                <div class="bold">{{ (form.get('hammer').value || 0) + ' ft' }}</div>
            </div>
        </mat-card-content>
    </mat-card>
</div>