<h1 mat-dialog-title>{{title | translate}}</h1>
<div mat-dialog-content [formGroup]="addDistributorForm">
  <div fxLayout="column" fxLayoutGap="20px">
    <mat-form-field [appearance]="appearance">
      <mat-label>{{ 'ADD_BIT.BIT_DISTRIBUTOR.NAME' | translate }}</mat-label>
      <input matInput formControlName="distributor_name">
    </mat-form-field>
    <mat-form-field [appearance]="appearance">
      <mat-label>{{ 'ADD_BIT.BIT_DISTRIBUTOR.ADDRESS' | translate }}</mat-label>
      <textarea rows="5" matInput formControlName="distributor_address"></textarea>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
    <div>
        <button mat-raised-button mat-dialog-close>{{ 'BTN.CANCEL' | translate }}</button>
      </div>
      <div>
        <button mat-raised-button (click)="sumbit()" color="primary">{{ 'BTN.SUBMIT' | translate }}</button>
      </div>
</div>