<mat-expansion-panel class="bore-well-expansion-panel" [formGroup]="otherChargesForm">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ 'POINT_ENTRY.OTHER_CHARGES.TITLE' | translate }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column">
        <div formArrayName="charges" *ngFor="let chargeCtrl of chargesFormArray.controls; let i = index" fxLayout
            fxLayoutGap="20px" fxLayoutGap.lt-md="10px">
            <ng-container [formGroup]="chargeCtrl">
                <mat-form-field class="calc-field" fxFlex.lt-md fxFlex="40" [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.OTHER_CHARGES.SELECT_CHARGES' | translate }}</mat-label>
                    <mat-select formControlName="charge">
                        <mat-option [value]="charge.value" *ngFor="let charge of charges">{{ charge.display }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="calc-field" fxFlex.lt-md fxFlex="40" [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.OTHER_CHARGES.CHARGE_AMT' | translate }}</mat-label>
                    <input type="text" matInput formControlName="chargeAmt">
                </mat-form-field>
                <div fxLayout="coulmn" fxLayoutAlign="end center" *ngIf="chargesFormArray.length > 1">
                    <span class="remove-btn" (click)="removeCharge(i)">{{ 'BTN.REMOVE' | translate }}</span>
                </div>
            </ng-container>
        </div>
        <div fxLayout fxLayoutAlign="end">
            <button (click)="addMoreCharge()" mat-raised-button color="primary">{{ 'BTN.ADD_MORE' | translate }}</button>
        </div>
    </div>
</mat-expansion-panel>