<mat-expansion-panel class="bore-well-expansion-panel" [formGroup]="otherChargesForm">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Other Charges
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column" fxLayoutGap="20px">
        <div formArrayName="charges" *ngFor="let chargeCtrl of chargesFormArray.controls; let i = index" fxLayout
            fxLayout.lt-md="column" fxLayoutGap="20px">
            <ng-container [formGroup]="chargeCtrl">
                <mat-form-field fxFlex="40">
                    <mat-label>Select Charges</mat-label>
                    <mat-select formControlName="charge">
                        <mat-option [value]="charge.value" *ngFor="let charge of charges">{{ charge.display }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="40">
                    <input type="text" placeholder="Charge Amount" matInput formControlName="chargeAmt">
                </mat-form-field>
                <div fxLayout="coulmn" fxLayoutAlign="end center" *ngIf="chargesFormArray.length > 1">
                    <span class="remove-btn" (click)="removeCharge(i)">Remove</span>
                </div>
            </ng-container>
        </div>
        <div fxLayout fxLayoutAlign="end">
            <button (click)="addMoreCharge()" mat-raised-button color="primary">ADD MORE</button>
        </div>
    </div>
</mat-expansion-panel>