<div fxLayout="column" class="p-16" [formGroup]="form">
    <div fxLayout fxLayoutGap="20px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column" formGroupName="agent">
        <mat-form-field fxFlex [appearance]="appearance">
            <mat-label>Agent Name</mat-label>
            <mat-select formControlName="id" (selectionChange)="onAgentSelect($event)">
                <mat-option [value]="agent.agent_id" *ngFor="let agent of agents">{{ agent.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex [appearance]="appearance">
            <mat-label>Village Name</mat-label>
            <input type="text" matInput formControlName="village">
        </mat-form-field>
    </div>
    <div fxLayout fxLayoutGap="20px" fxLayoutGap.lt-md="0px" fxLayout.lt-md="column" formGroupName="party">
        <mat-form-field fxFlex [appearance]="appearance" >
            <mat-label>Party Name</mat-label>
            <input type="text" matInput formControlName="name">
        </mat-form-field>
        <mat-form-field fxFlex [appearance]="appearance" >
            <mat-label>Party Mobile</mat-label>
            <input type="text" matInput poistiveNumber formControlName="mobile">
        </mat-form-field>
    </div>
</div>