<form [formGroup]="addHammerForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'ADD_HAMMER.TITLE' | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column">
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'ADD_HAMMER.PURCHASE_DATE' | translate }}</mat-label>
                    <input matInput formControlName="purchaseDate" required readonly [matDatepicker]="dp">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp>
                    </mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'ADD_HAMMER.NAME' | translate }}</mat-label>
                    <input matInput formControlName="name" required>
                </mat-form-field>
                <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0" fxLayoutGap="15px">
                    <mat-form-field fxFlex="65" [appearance]="appearance">
                        <mat-label>{{ 'ADD_HAMMER.COMPANY_NAME' | translate }}</mat-label>
                        <mat-select formControlName="companyName">
                            <mat-option *ngFor="let company of companies" [value]="company.company_name">{{ company.company_name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxFlex="35" fxLayout>
                        <div>
                            <button type="button" (click)="openAddNewCompanyDialog()" ngClass.lt-md="m-b-16" ngClass.gt-sm="m-t-12" mat-raised-button color="primary">{{ 'BTN.ADD_NEW_COMPANY_NAME' |
                                translate }}</button>
                        </div>
    
                    </div>
                </div>
                <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0" fxLayoutGap="15px">
                    <mat-form-field fxFlex="65" [appearance]="appearance">
                        <mat-label>{{ 'ADD_HAMMER.DISTRIBUTOR_DETAILS' | translate }}</mat-label>
                        <mat-select formControlName="distributorDetails">
                            <mat-option *ngFor="let distributor of distributors" [value]="distributor.distributor_name">{{
                                distributor.distributor_name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxFlex="35" fxLayout>
                        <div>
                            <button type="button" (click)="openAddDistributor()" ngClass.lt-md="m-b-16" ngClass.gt-sm="m-t-12" mat-raised-button color="primary">{{ 'BTN.ADD_NEW_DISTRIBUTOR' |
                                translate }}</button>
                        </div>
    
                    </div>
                </div>
                <div fxLayout>
                    <mat-form-field fxFlex [appearance]="appearance">
                        <mat-label>{{ 'ADD_HAMMER.SELECT_RIG' | translate }}</mat-label>
                        <mat-select formControlName="rig" required>
                            <mat-option *ngFor="let rig of rigs" [value]="rig.registrationNumber">{{
                                rig.registrationNumber }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_HAMMER.HAMMER_NUMBER' | translate }}</mat-label>
                        <input formControlName="number" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_HAMMER.BARREL_SCALE' | translate }}</mat-label>
                        <input formControlName="barrelScale" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_HAMMER.SPECH_SET_SIZE' | translate }}</mat-label>
                        <input formControlName="spechSetSize" matInput>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_HAMMER.PISTON_NUMBER' | translate }}</mat-label>
                        <input formControlName="pistonNumber" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_HAMMER.CONTROL_TUBE_NUMBER' | translate }}</mat-label>
                        <input formControlName="controlTubeNumber" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout class="m-t-20" fxLayoutAlign="space-between">
                    <div>
                        <button type="button" (click)="addHammerForm.reset()" mat-raised-button color="primary">{{ 'BTN.CLEAR' | translate }}</button>
                    </div>
                    <div>
                        <button type="button" (click)="saveHammer()" mat-raised-button color="primary">{{ 'BTN.SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
