<div fxLayout fxLayoutGap="10px" class="m-b-10" fxLayoutAlign.lt-md="center center">
        <div class="text">{{ pointForm.get('info.rig').value }}</div>
</div>


<mat-card>
    <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
        <ng-template matStepperIcon="number">
        </ng-template>
        <mat-step [stepControl]="pointForm.get('info')">
            <ng-template matStepLabel>{{ 'POINT_ENTRY.STEP_LABEL.INFO' | translate }}</ng-template>
            <point-info [form]="pointForm.get('info')" #point></point-info>
            <div fxLayout fxLayoutAlign="end">
                <div>
                    <button mat-raised-button color="primary" [scrollToInvalid]="point" [form]="pointForm.get('info')" [stepper]="stepper">{{ 'BTN.NEXT' | translate }}</button>
                </div>
            </div>
        </mat-step>
        <mat-step [stepControl]="pointForm.get('point')">
            <ng-template matStepLabel>{{ 'POINT_ENTRY.STEP_LABEL.POINT_ENTRY' | translate }}</ng-template>
            <point [agents]="agents" [form]="pointForm.get('point')"></point>
            <div fxLayout fxLayoutAlign="space-between">
                <div>
                    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" matStepperNext>Next</button>
                </div>
            </div>
        </mat-step>
        <mat-step [stepControl]="pointForm.get('cerificate')">
            <ng-template matStepLabel>{{ 'POINT_ENTRY.STEP_LABEL.OTHER_DETAILS' | translate }}</ng-template>
            <point-other-details [form]="pointForm.get('otherDetails')"></point-other-details>
            <div fxLayout fxLayoutAlign="space-between">
                <div>
                    <button color="primary" mat-raised-button (click)="stepper.reset(); resetForm()">{{ 'BTN.CLEAR' | translate
                        }}</button>
                </div>
                <div>
                    <button color="primary" mat-raised-button (click)="save()">{{ 'BTN.SAVE' | translate }}</button>
                </div>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</mat-card>