<mat-expansion-panel class="bore-well-expansion-panel" disabled [hideToggle]="true" [expanded]="true">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Basic Info
        </mat-panel-title>
    </mat-expansion-panel-header>

    <div fxLayout="column">
        <div fxLayout fxLayoutGap="20px">
            <mat-form-field fxFlex="33">
                <mat-label>Select RIG</mat-label>
                <mat-select>
                    <mat-option value="1">KA01MP7396</mat-option>
                    <mat-option value="2">KA01MP7396</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33">
                <mat-label>Select RIG1</mat-label>
                <mat-select>
                    <mat-option value="1">KA01MP7396</mat-option>
                    <mat-option value="2">KA01MP7396</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="33">
                <mat-label>Select Bore Type</mat-label>
                <mat-select>
                    <mat-option value="1">New Bore</mat-option>
                    <mat-option value="2">Re-Bore</mat-option>
                    <mat-option value="2">Flushing</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout></div>
        <div fxLayout></div>
    </div>

</mat-expansion-panel>
