<form [formGroup]="pointEntryForm">

    <!-- point entry details -->
    <mat-card class="m-t-20">
        <mat-card-header>
            <mat-card-title>{{ 'POINT_ENTRY.POINT_ENTRY.TITLE' | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column">
                <div>
                    <div fxLayout fxLayout.lt-md="column">
                        <mat-form-field fxFlex [appearance]="appearance">
                            <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.TOTAL_FEET' | translate }}</mat-label>
                            <input (keyup.enter)="$event.preventDefault()" poistiveNumber (input)="onTotalFeetInput($event)"
                                formControlName="totalFeet" type="text" matInput placeholder="Total Feet">
                        </mat-form-field>
                    </div>
                    <div fxLayout fxLayoutAlign="start center" fxLayoutGap="20px">
                        <mat-form-field fxFlex="33" [appearance]="appearance">
                            <mat-label>Re-Bore Feet</mat-label>
                            <input type="text" (input)="onReboreFeetInput($event)" formControlName="reBoreFeet" matInput poistiveNumber placeholder="Re-Bore Feet">
                        </mat-form-field>
                        <div>X</div>
                        <mat-form-field fxFlex="33" [appearance]="appearance">
                            <mat-label>Amt Per Re-bore Feet</mat-label>
                            <input type="text" (input)="onReBoreAmt($event)" formControlName="reBoreAmtPerFeet" matInput poistiveNumber placeholder="Amt Per Re-bore Feet">
                        </mat-form-field>
                        <div>=</div>
                        <mat-form-field fxFlex="33" [appearance]="appearance">
                            <mat-label>Re-bore Amount</mat-label>
                            <input type="text" formControlName="reBoreAmt" matInput poistiveNumber placeholder="Re-bore Amount">
                        </mat-form-field>
                    </div>
                    <!-- <div class="m-b-16" fxLayout fxLayout.lt-md="column">
                                <mat-checkbox color="primary" labelPosition="after">{{
                                    'POINT_ENTRY.POINT_ENTRY.SHOW_HIDE_START_FEET' |
                                    translate }}</mat-checkbox>
                            </div> -->
                </div>
                <div fxLayout="column">
                    <div fxLayout fxLayoutGap="10px" class="m-b-20">
                        <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                            {{ 'POINT_ENTRY.POINT_ENTRY.TOTAL_FEET_AMOUNT' | translate}}
                        </div>
                        <div class="bold">:</div>
                        <div fxFlex>{{ pointEntryForm.get('totalFeetAmt').value || 0 }}</div>
                    </div>
                    <!-- <div fxLayout>
                                        <mat-form-field fxFlex [appearance]="appearance">
                                            <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.TOTAL_FEET_AMOUNT' | translate }}</mat-label>
                                            <input readonly type="text" matInput formControlName="totalFeetAmt">
                                        </mat-form-field>
                                    </div> -->


                    <!-- <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
                                        <mat-form-field fxFlex [appearance]="appearance">
                                            <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.CASING_FEET_AMOUNT' | translate }}</mat-label>
                                            <input readonly type="text" matInput formControlName="casingFeetAmt" placeholder="Casing Feet Amount">
                                        </mat-form-field>
                                    </div> -->

                </div>
                <!-- fxFlex.lt-md="calc(33% - 10px)" fxLayout.lt-md="column" ngClass.lt-md="last-field" -->
                <div class="m-r-n-10" [class.dashed]="!lastCtrl" fxLayout="row wrap" formArrayName="feets" *ngFor="let feetCtrl of feetsFormArray.controls | activeControls : triggerPipe; let lastCtrl = last; let ctrlIndex = index"
                    fxLayoutGap.lt-md="10px" fxLayoutGap="10px">
                    <ng-container [formGroup]="feetCtrl">
                        <mat-form-field fxFlex="calc(20% - 10px)" fxFlex.lt-md="calc(47.5%-10px)" class="calc-field"
                            [appearance]="appearance">
                            <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.START_FEET' | translate }}</mat-label>
                            <input readonly pattern="[0-9]*" poistiveNumber inputmode="numeric" formControlName="startFeet"
                                matInput>
                        </mat-form-field>
                        <div fxFlex="calc(5% - 10px)" class="hyphen-container" fxLayout="column" fxLayoutAlign="center center"
                            fxFlex.lt-md="calc(5%-10px)">
                            <div class="hyphen"></div>
                        </div>
                        <mat-form-field fxFlex="calc(20% - 10px)" fxFlex.lt-md="calc(47.5%-10px)" class="calc-field"
                            [appearance]="appearance">
                            <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.END_FEET' | translate }}</mat-label>
                            <input (change)="validateEndFeet(feetCtrl)" (focus)="showBtns = true" (input)="calculateFeetAmt(feetCtrl, ctrlIndex)"
                                type="text" poistiveNumber formControlName="endFeet" matInput>
                        </mat-form-field>
                        <div fxHide.gt-sm fxLayoutGap="10px" fxFlex="calc(45% - 10px)">
                            <div class="m-t-n-10" fxLayout fxLayoutAlign="end center" fxLayoutGap="5px">
                                <div class="bold">{{ feetCtrl.get('totalFeet').value || 0 }}</div>
                                <div class="bold">X</div>
                            </div>
                            <mat-form-field fxFlex class="calc-field" [appearance]="appearance">
                                <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.AMOUNT_PER_FEET' | translate }}</mat-label>
                                <input (input)="calculateFeetAmt(feetCtrl, ctrlIndex, 'amtPerFeet')" type="text"
                                    poistiveNumber formControlName="amtPerFeet" matInput>
                            </mat-form-field>
                        </div>
                        <div fxHide.lt-md fxFlex="calc(10% - 10px)" fxFlex.lt-md="calc(17.5%-10px)" class="m-t-n-10"
                            fxLayout fxLayoutAlign="end center" fxLayoutGap="5px">
                            <div class="bold">{{ feetCtrl.get('totalFeet').value || 0 }}</div>
                            <div class="bold">X</div>
                        </div>
                        <mat-form-field fxHide.lt-md fxFlex="calc(20% - 10px)" fxFlex.lt-md="calc(30%-10px)" class="calc-field"
                            [appearance]="appearance">
                            <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.AMOUNT_PER_FEET' | translate }}</mat-label>
                            <input (input)="calculateFeetAmt(feetCtrl, ctrlIndex, 'amtPerFeet')" type="text"
                                poistiveNumber formControlName="amtPerFeet" matInput>
                        </mat-form-field>
                        <div fxFlex="calc(5% - 10px)" fxLayout="column" fxLayoutAlign="center center" class="m-t-n-18"
                            fxFlex.lt-md="calc(5%-10px)">
                            <div class="equal-container">
                                <div class="equal-line m-b-3"></div>
                                <div class="equal-line"></div>
                            </div>
                        </div>
                        <mat-form-field fxFlex="calc(20% - 10px)" ngClass.lt-md="m-r-10" fxFlex.lt-md="calc(47.5%-10px)"
                            [appearance]="appearance">
                            <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.AMOUNT' | translate }}</mat-label>
                            <input readonly type="text" poistiveNumber formControlName="amt" matInput>
                        </mat-form-field>
                    </ng-container>
                </div>
                <ng-container *ngIf="showBtns">
                    <div class="m-b-10 m-r-10" fxFlex.lt-md="calc(33% - 10px)" *ngIf="feetsActiveControls.length > 1"
                        fxLayout fxLayoutAlign="end center">
                        <span class="remove-btn" (click)="removeLastFeet()">{{ 'BTN.REMOVE' | translate}}</span>
                    </div>
                </ng-container>

                <div *ngIf="showBtns" class="m-b-16" fxLayout fxLayoutAlign="end">
                    <button (click)="addMoreFeet()" type="button" mat-raised-button color="primary">{{ 'BTN.ADD_MORE' |
                        translate}}</button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- casing details -->
    <mat-card class="m-t-20">
        <mat-card-header>
            <mat-card-title>{{ 'POINT_ENTRY.POINT_ENTRY.CASING' | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" *ngFor="let casing of casingTypes">
                <div class="m-b-10 bold" fxLayout>
                    {{ casing.name }}
                </div>
                <div fxLayout fxLayoutGap.lt-md="10px" fxLayoutGap="20px">
                    <mat-form-field fxFlex="45" [appearance]="appearance" class="calc-field">
                        <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.CASING_DEPTH' | translate }}</mat-label>
                        <input poistiveNumber (input)="calculateCasingAmt(casing.depthControlName, casing.depthRateControlName, casing.amtControlName)"
                            type="text" matInput [formControlName]="casing.depthControlName">
                    </mat-form-field>
                    <div fxFlex="1" class="bold m-b-20" fxLayout="column" fxLayoutAlign="center center">X</div>
                    <mat-form-field fxFlex="45" [appearance]="appearance" class="calc-field">
                        <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.CASING_DEPTH_RATE' | translate }}</mat-label>
                        <input poistiveNumber (input)="calculateCasingAmt(casing.depthControlName, casing.depthRateControlName, casing.amtControlName)"
                            type="text" matInput [formControlName]="casing.depthRateControlName">
                    </mat-form-field>
                    <div fxFlex="1" class="m-b-20" fxLayout fxLayoutAlign="center center">
                        <div class="equal-container">
                            <div class="equal-line m-b-3"></div>
                            <div class="equal-line"></div>
                        </div>
                    </div>
                    <div fxFlex="8" fxLayout="column" fxLayoutAlign="center center" class="bold m-b-20">
                        {{ pointEntryForm.get(casing.amtControlName).value || 0 }}
                    </div>
                </div>
            </div>

            <div fxLayout fxLayoutGap="10px" class="m-b-10">
                <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                    {{ 'POINT_ENTRY.POINT_ENTRY.CASING_FEET_AMOUNT' | translate}}
                </div>
                <div class="bold">:</div>
                <div fxFlex>{{ pointEntryForm.get('totalCasingAmt').value || 0 }}</div>
            </div>
        </mat-card-content>
    </mat-card>

    <!-- Welding -->
    <mat-card class="m-t-20">
        <mat-card-header>
            <mat-card-title>{{ 'POINT_ENTRY.POINT_ENTRY.WELDING' | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout fxLayoutGap.lt-md="10px" fxLayoutGap="20px">
                <mat-form-field fxFlex [appearance]="appearance" class="calc-field">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.WELDING' | translate }}</mat-label>
                    <input poistiveNumber (input)="calculateWeldingAmt()" type="text" matInput formControlName="welding">
                </mat-form-field>
                <div class="bold m-b-20" fxLayout="column" fxLayoutAlign="center center">X</div>
                <mat-form-field fxFlex [appearance]="appearance" class="calc-field">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.AMT_PER_WELDING' | translate }}</mat-label>
                    <input poistiveNumber (input)="calculateWeldingAmt()" type="text" matInput formControlName="amtPerWelding">
                </mat-form-field>
                <div class="m-b-20" fxLayout fxLayoutAlign="center center">
                    <div class="equal-container">
                        <div class="equal-line m-b-3"></div>
                        <div class="equal-line"></div>
                    </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="center center" class="bold m-b-20">
                    {{ pointEntryForm.get('weldingAmt').value || 0 }}
                </div>
            </div>
            <div fxLayout fxLayoutGap="10px" class="m-b-10">
                <!-- <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                        {{ 'POINT_ENTRY.POINT_ENTRY.CASING_FEET_AMOUNT' | translate}}
                    </div>
                    <div class="bold">:</div>
                    <div fxFlex>{{ pointEntryForm.get('casingFeetAmt').value || 0 }}</div> -->
            </div>
        </mat-card-content>
    </mat-card>

    <!-- other charges -->
    <mat-card class="m-t-20">
        <mat-card-header>
            <mat-card-title>{{ 'POINT_ENTRY.POINT_ENTRY.OTHER_CHARGES' | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.ALLOWANCE' | translate }}</mat-label>
                    <input (input)="updateOverallAmt()" poistiveNumber type="text" matInput formControlName="allowance">
                </mat-form-field>
                <div fxFlex></div>
            </div>
            <div fxLayout fxLayoutGap="10px" class="m-b-20">
                <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                    {{ 'POINT_ENTRY.POINT_ENTRY.TOTAL_CHARGE_AMT' | translate}}
                </div>
                <div class="bold">:</div>
                <div fxFlex>{{ pointEntryForm.get('allowance').value || 0 }}</div>
            </div>
        </mat-card-content>
    </mat-card>
</form>