<div class="login-page">
    <div fxLayout>
        <div fxFlex="35"></div>
        <mat-card @fadeIn class="m-t-100 login-card" cla fxFlex>
            <mat-progress-bar *ngIf="onLogin" mode="indeterminate"></mat-progress-bar>
            <div *ngIf="onLogin" class="onlogin-overlay">

            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                <mat-card-content class="login-card-content" fxLayout="column">

                    <mat-form-field appearance="outline" fxFlex class="m-b-20">
                        <mat-label>User Name</mat-label>
                        <input formControlName="username" autocomplete="off" type="text" matInput required>
                        <mat-icon color="primary" matPrefix>account_circle</mat-icon>
                        <mat-error *ngIf="loginForm.get('username').invalid">Username is required</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex class="m-b-42" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" type="password" matInput required>
                        <mat-icon color="primary" matPrefix>lock</mat-icon>
                        <mat-error *ngIf="loginForm.get('password').invalid">Password is required</mat-error>
                    </mat-form-field>
                    <button type="submit" class="m-t-10" color="primary" mat-flat-button>LOGIN</button>

                </mat-card-content>
            </form>
        </mat-card>


        <div fxFlex="35"></div>
    </div>

</div>