<div class="login-page" fxLayout fxLayoutAlign.lt-md="start start" fxLayoutAlign="center center">
    <div fxLayout ngClass.lt-md="mobile-card">
        <mat-card fxLayout.lt-md fxLayoutAlign.lt-md="center center" @fadeIn class="login-card" fxFlex>
            <mat-progress-bar ngClass.lt-md="mobile-progress" *ngIf="onLogin" mode="indeterminate"></mat-progress-bar>
            <div *ngIf="onLogin" class="onlogin-overlay"> 
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" ngClass.lt-md="shift-top">
                <mat-card-content class="login-card-content" fxLayout="column">
                    <div fxLayout fxLayoutAlign="center center" class="logo-container">
                        <div fxFlex class="line"></div>
                        <div class="logo">
                            <!-- <div class="logo-overlay"></div> -->
                        </div>
                    </div>
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>User Name</mat-label>
                        <input formControlName="username" autocomplete="off" type="text" matInput required>
                        <mat-icon color="primary" matPrefix>account_circle</mat-icon>
                        <mat-error *ngIf="loginForm.get('username').invalid">Username is required</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" type="password" matInput required>
                        <mat-icon color="primary" matPrefix>lock</mat-icon>
                        <mat-error *ngIf="loginForm.get('password').invalid">Password is required</mat-error>
                    </mat-form-field>
                    <button type="submit" class="login-btn" color="primary" mat-flat-button>LOGIN</button>

                </mat-card-content>
            </form>
        </mat-card>
    </div>

</div>