<form [formGroup]="addBitForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ 'ADD_BIT.TITLE' | translate }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column">
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'ADD_BIT.PURCHASE_DATE' | translate }}</mat-label>
                    <input matInput formControlName="purchaseDate" required readonly [matDatepicker]="dp">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp>
                    </mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'ADD_BIT.TYPE' | translate }}</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let type of types" [value]="type.value">{{ type.display }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'ADD_BIT.DRILLING' | translate }}</mat-label>
                    <mat-select formControlName="drilling">
                        <mat-option *ngFor="let drilling of drillings" [value]="drilling.value">{{ drilling.display }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'ADD_BIT.VEHICLE' | translate }}</mat-label>
                    <mat-select formControlName="vehicle">
                        <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.registrationNumber">{{ vehicle.registrationNumber }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_BIT.NAME' | translate }}</mat-label>
                        <input formControlName="name" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0" fxLayoutGap="15px">
                    <mat-form-field fxFlex="65" [appearance]="appearance">
                        <mat-label>{{ 'ADD_BIT.DISTRIBUTOR_DETAILS' | translate }}</mat-label>
                        <mat-select formControlName="distributorDetails">
                            <mat-option *ngFor="let distributor of distributors" [value]="distributor.distributor_name">{{ distributor.distributor_name }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxFlex="35" fxLayout>
                        <div>
                            <button type="button" (click)="openAddDistributorDialog()" ngClass.lt-md="m-b-16" ngClass.gt-sm="m-t-12" mat-raised-button color="primary">{{
                                'BTN.ADD_NEW_DISTRIBUTOR' |
                                translate }}</button>
                        </div>
    
                    </div>
                </div>
                <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0" fxLayoutGap="15px">
                    <mat-form-field fxFlex="65" [appearance]="appearance">
                        <mat-label>{{ 'ADD_BIT.SIZE' | translate }}</mat-label>
                        <mat-select formControlName="size">
                            <mat-option *ngFor="let size of sizes" [value]="size.size">{{
                                size.size }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxFlex="35" fxLayout>
                        <div>
                            <button type="button" (click)="openAddSizeDialog()" ngClass.lt-md="m-b-16" ngClass.gt-sm="m-t-12" mat-raised-button color="primary">{{
                                'BTN.ADD_NEW_SIZE' |
                                translate }}</button>
                        </div>
    
                    </div>
                </div>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_BIT.NUMBER' | translate }}</mat-label>
                        <input formControlName="number" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field [appearance]="appearance" fxFlex>
                        <mat-label>{{ 'ADD_BIT.INITIAL_SCALE' | translate }}</mat-label>
                        <input formControlName="intialScale" matInput required>
                    </mat-form-field>
                </div>
                <div fxLayout class="m-t-20" fxLayoutAlign="space-between">
                    <div>
                        <button type="button" (click)="resetForm()" mat-raised-button color="primary">{{ 'BTN.CLEAR' |
                            translate }}</button>
                    </div>
                    <div>
                        <button type="button" (click)="saveBit()" mat-raised-button color="primary">{{ 'BTN.SAVE' | translate }}</button>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>
