<form [formGroup]="casingDetailsForm">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Casing Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" *ngFor="let casing of casingTypes">
                <div class="m-b-10 bold" fxLayout>
                    {{ casing.name }}
                </div>
                <div fxLayout fxLayoutGap.lt-md="10px" fxLayoutGap="20px">
                    <mat-form-field fxFlex.lt-md="100" fxFlex="45" [appearance]="appearance" class="calc-field">
                        <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.CASING_DEPTH_RATE' | translate }}</mat-label>
                        <input poistiveNumber type="text" matInput [formControlName]="casing.ctrlName">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</form>