<div fxLayout.gt-sm="column" ngClass.gt-sm="p-16" fxLayoutGap.gt-sm="25px" [formGroup]="form">
    <mat-card ngClass.lt-md="no-box-shadow" formGroupName="diesel">
        <mat-card-header>
            <mat-card-title>
                Diesel
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column">
                <div fxLayout>
                    <div fxLayout fxLayoutAlign="start center" fxFlex="35" fxFlex.gt-sm="20">
                        <div class="bold m-b-17">Bunk Name</div>
                    </div>
                    <mat-form-field class="calc-field" [appearance]="appearance" fxFlex>
                        <input matInput formControlName="bunkName">
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <div fxLayout fxLayoutAlign="start center" fxFlex="35" fxFlex.gt-sm="20">
                        <div class="bold m-b-17">Bunk Area</div>
                    </div>
                    <mat-form-field class="calc-field" [appearance]="appearance" fxFlex>
                        <input matInput formControlName="bunkArea">
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <div fxLayout fxLayoutAlign="start center" fxFlex="35" fxFlex.gt-sm="20">
                        <div class="bold m-b-17">Per Liter Amt.</div>
                    </div>
                    <mat-form-field class="calc-field" [appearance]="appearance" fxFlex>
                        <mat-label>Amount</mat-label>
                        <input poistiveNumber [allowDecimal]="true" matInput formControlName="perLiterAmt" (input)="calcTotalAmout()">
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <div fxLayout fxLayoutAlign="start center" fxFlex="35" fxFlex.gt-sm="20">
                        <div class="bold m-b-17">Total Liter</div>
                    </div>
                    <mat-form-field class="calc-field" [appearance]="appearance" fxFlex>
                        <input poistiveNumber [allowDecimal]="true" matInput formControlName="totalLiter" (input)="calcTotalAmout()">
                    </mat-form-field>
                </div>
                <div>
                    <div fxLayout fxLayoutAlign="start center" fxFlex="35" fxFlex.gt-sm="20">
                        Total Amount
                    </div>
                    <div fxFlex class="bold">{{ (form.get('diesel.totalAmt').value || 0) | currency:'INR' }}</div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card formGroupName="advance">
        <mat-card-header>
            <mat-card-title>Advance Amount</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column">
                <div fxLayout>
                    <div fxLayout fxLayoutAlign="start center" fxFlex="35" fxFlex.gt-sm="20">
                        <div class="bold m-b-17">Advance</div>
                    </div>
                    <mat-form-field class="calc-field" [appearance]="appearance" fxFlex>
                        <mat-label>Amount</mat-label>
                        <input matInput formControlName="advance">
                    </mat-form-field>
                </div>
                <div fxLayout="column" fxLayoutGap="15px">
                    <div class="bold">Remarks</div>
                    <mat-form-field [appearance]="appearance">
                        <textarea matInput cols="30" rows="7" formControlName="remarks"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card ngClass.lt-md="no-box-shadow" formGroupName="soil">
        <mat-card-header>
            <mat-card-title>Soil Details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column">
                <div fxLayout fxLayoutGap="10px" formGroupName="loose">
                    <div fxFlex="25" fxFlex.gt-sm="20" fxLayout fxLayoutAlign="start center">
                        <div class="bold m-b-17">Loose Soil</div>
                    </div>
                    <mat-form-field fxFlex [appearance]="appearance" class="calc-field">
                        <mat-label>From</mat-label>
                        <input poistiveNumber matInput formControlName="from">
                    </mat-form-field>
                    <div fxLayout fxLayoutAlign="start center">
                        <div class="bold m-b-17">To</div>
                    </div>
                    <mat-form-field fxFlex [appearance]="appearance" class="calc-field">
                        <mat-label>To</mat-label>
                        <input poistiveNumber matInput formControlName="to">
                    </mat-form-field>
                </div>
                <div fxLayout fxLayoutGap="10px" formGroupName="boulder">
                    <div fxFlex="25" fxFlex.gt-sm="20" fxLayout fxLayoutAlign="start center">
                        <div class="bold m-b-17">Boulder</div>
                    </div>
                    <mat-form-field fxFlex [appearance]="appearance" class="calc-field">
                        <mat-label>From</mat-label>
                        <input poistiveNumber matInput formControlName="from">
                    </mat-form-field>
                    <div fxLayout fxLayoutAlign="start center">
                        <div class="bold m-b-17">To</div>
                    </div>
                    <mat-form-field fxFlex [appearance]="appearance" class="calc-field">
                        <mat-label>To</mat-label>
                        <input poistiveNumber matInput formControlName="to">
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout class="m-t-16" fxLayoutGap="10px" *ngIf="selectedBore === 'newBore'; else reBoreTpl">
                <div fxFLex="30">
                    Total Depth
                </div>
                <div class="bold">{{ (form.parent.get('depth.drilling.depth').value || 0) + ' - Drilling' }}</div>
            </div>
            <ng-template #reBoreTpl>
                <div fxLayout="column" fxLayoutGap="10px" class="m-t-16">
                    <div fxLayout fxLayoutGap="10px">
                        <div fxFlex="30">
                            Total Depth
                        </div>
                        <div class="bold">{{ (form.parent.get('depth.drilling.flushing').value || 0) + ' - Flusing' }}</div>
                    </div>
                    <div fxLayout fxLayoutGap="10px">
                        <div fxFlex="30">
                        </div>
                        <div class="bold">{{ (form.parent.get('depth.drilling.depth').value || 0) + ' - ReDrilling' }}</div>
                    </div>
                </div>
            </ng-template>

        </mat-card-content>
    </mat-card>
</div>