<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
      <!-- use a disabled button to provide padding for tree leaf -->
      <!-- <button mat-icon-button disabled></button> -->
      <div fxLayout fxLayoutAlign="start center" class="menu-leaf" [style.paddingLeft]="node.isMain ? '29px': '0px'">
        <div *ngIf="node.isMain" class="icon-holder">
          <mat-icon>home</mat-icon>
        </div>
        <span class="menu-leaf-label">{{node.name}}</span>
      </div>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
      <div fxLayout fxLayoutAlign="start center" class="menu-node">
          <i class="plus-icon" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          </i>
          <div *ngIf="node.isMain" class="icon-holder menu-node-icon">
            <mat-icon>insert_chart_outlined</mat-icon>
          </div>
          <span class="menu-node-label">{{node.name}}</span>
      </div>
    </mat-tree-node>
  </mat-tree>



  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="nav-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node [style.min-height]="node.isMain ? '40px': '30px'" *matTreeNodeDef="let node" matTreeNodeToggle>
        <li [class.menu-node-list]="!node.isMain" [class.first-node]="node.isFirstChild">
            <div fxLayout fxLayoutAlign="start center" class="menu-leaf" 
              [style.min-height]="node.isMain ? '40px': '30px'"
              [style.paddingLeft]="node.isMain ? '29px': '0px'">
                <div *ngIf="node.isMain" class="icon-holder">
                  <mat-icon>home</mat-icon>
                </div>
                <span class="menu-leaf-label">{{node.name}}</span>
              </div>
        </li>

      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li [class.menu-node-list]="!node.isMain && !node.isLastChild" [class.first-node]="node.isFirstChild">
          <div fxLayout fxLayoutAlign="start center" [style.min-height]="node.isMain ? '40px': '30px'" class="menu-node">
            <i class="plus-icon" matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
            </i>
            <div *ngIf="node.isMain" class="icon-holder menu-node-icon">
              <mat-icon>insert_chart_outlined</mat-icon>
            </div>
            <span class="menu-node-label" [class.dashed-border]="!node.isMain">{{node.name}}</span>
          </div>
          <ul class="menu-ul" [class.example-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>