<mat-expansion-panel class="bore-well-expansion-panel" disabled [hideToggle]="true" [expanded]="true" [formGroup]="pointEntryForm">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ 'POINT_ENTRY.POINT_ENTRY.TITLE' | translate }}
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div fxLayout="column">
        <div>
            <div fxLayout fxLayout.lt-md="column">
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.TOTAL_FEET' | translate }}</mat-label>
                    <input formControlName="totalFeet" type="text" matInput placeholder="Total Feet">
                </mat-form-field>
            </div>
            <div class="m-b-16" fxLayout fxLayout.lt-md="column">
                <mat-checkbox color="primary" labelPosition="after">{{ 'POINT_ENTRY.POINT_ENTRY.SHOW_HIDE_START_FEET' |
                    translate }}</mat-checkbox>
            </div>
        </div>
        <div fxLayout formArrayName="feets" *ngFor="let feetCtrl of feetsFormArray.controls" fxLayout
            fxLayoutGap.lt-md="10px" fxLayoutGap="20px" fxLayout.lt-md="row wrap">
            <ng-container [formGroup]="feetCtrl">
                <mat-form-field fxFlex fxFlex.lt-md="calc(33% - 10px)" class="calc-field" [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.START_FEET' | translate }}</mat-label>
                    <input type="text" formControlName="startFeet" matInput>
                </mat-form-field>

                <mat-form-field fxFlex fxFlex.lt-md="calc(33% - 10px)"  class="calc-field" [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.END_FEET' | translate }}</mat-label>
                    <input type="text" formControlName="endFeet" matInput>
                </mat-form-field>

                <mat-form-field fxFlex fxFlex.lt-md="calc(33% - 10px)" class="calc-field" [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.AMOUNT_PER_FEET' | translate }}</mat-label>
                    <input type="text" formControlName="amtPerFeet" matInput>
                </mat-form-field>

                <mat-form-field fxFlex fxFlex.lt-md="calc(33% - 10px)" ngClass.lt-md="last-field" [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.AMOUNT' | translate }}</mat-label>
                    <input type="text" formControlName="amt" matInput>
                </mat-form-field>
                <div ngClass.lt-md="m-b-10 m-r-10" fxFlex.lt-md="calc(33% - 10px)" *ngIf="feetsFormArray.length > 1" fxLayout fxLayoutAlign="end center">
                    <span class="remove-btn" (click)="removeLastFeet()">{{ 'BTN.REMOVE' | translate}}</span>
                </div>
            </ng-container>
        </div>
        <div class="m-b-16" fxLayout fxLayoutAlign="end">
            <button (click)="addMoreFeet()" mat-raised-button color="primary">{{ 'BTN.ADD_MORE' | translate}}</button>
        </div>
        <div fxLayout="column">
            <div fxLayout>
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.TOTAL_FEET_AMOUNT' | translate }}</mat-label>
                    <input type="text" matInput formControlName="totalFeetAmt">
                </mat-form-field>
            </div>
            <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.CASING_DEPTH' | translate }}</mat-label>
                    <input type="text" matInput formControlName="casingDepth">
                </mat-form-field>
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.CASING_DEPTH_RATE' | translate }}</mat-label>
                    <input type="text" matInput formControlName="casingDepthRate">
                </mat-form-field>
            </div>
            <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
                <mat-form-field fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.POINT_ENTRY.CASING_FEET_AMOUNT' | translate }}</mat-label>
                    <input type="text" matInput formControlName="casingFeetAmt" placeholder="Casing Feet Amount">
                </mat-form-field>
            </div>
        </div>

    </div>
</mat-expansion-panel>