<form [formGroup]="form">
    <div fxLayout="column" class="m-t-30">
        <div fxLayoutGap="25px" fxLayout="column" class="p-l-10 p-r-10 m-b-20">
            <div fxLayout fxLayoutGap="10px">
                <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                    {{ 'POINT_ENTRY.OVERALL_AMT' | translate}}
                </div>
                <div class="bold">:</div>
                <div fxFlex>{{ form.get('overallTotalAmt').value || 0 }}</div>
            </div>
            <!-- <div fxLayout fxLayoutGap="10px">
                <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                    {{ 'POINT_ENTRY.TOTAL_AMT' | translate}}
                </div>
                <div class="bold">:</div>
                <div fxFlex >{{ form.get('totalAmt').value || 0 }}</div>
            </div> -->
            <!-- <div fxLayout fxLayoutGap="10px">
                <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                    {{ 'POINT_ENTRY.COMMISSION_AMT' | translate}}
                </div>
                <div class="bold">:</div>
                <div fxFlex>{{ form.get('commissionAmt').value || 0 }}</div>
            </div> -->
            <!-- <div fxLayout fxLayoutGap="10px">
                <div class="bold font-14" fxFlex="30" fxFlex.lt-md>
                    {{ 'POINT_ENTRY.RPM_DETAILS.TOTAL_RPM' | translate}}
                </div>
                <div class="bold">:</div>
                <div fxFlex>{{ form.parent.get('point.bitDetails.totalRpm').value || 0 }}</div>
            </div> -->
        </div>


        <!-- <div fxLayout fxLayout.lt-md="column"> -->
            <!-- <mat-form-field fxFlex [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.OVERALL_AMT' | translate}}</mat-label>
                <input type="text" formControlName="overallTotalAmt" matInput>
            </mat-form-field> -->
        <!-- </div> -->
        <!-- <div fxLayout fxLayout.lt-md="column" fxLayoutGap.lt-md="0px" fxLayoutGap="20px">
            <mat-form-field fxFlex="50" [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.TOTAL_AMT' | translate}}</mat-label>
                <input formControlName="totalAmt" matInput>
            </mat-form-field>
            <mat-form-field fxFlex="50" [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.COMMISSION_AMT' | translate}}</mat-label>
                <input formControlName="commissionAmt" matInput>
            </mat-form-field>
        </div> -->
        <div fxLayout>
            <mat-form-field fxFlex [appearance]="appearance">
                <mat-label>{{ 'POINT_ENTRY.REMARKS' | translate}}</mat-label>
                <textarea formControlName="remarks" matInput cols="30" rows="5"></textarea>
            </mat-form-field>
        </div>
    </div>
</form>