.m-b-25{
    margin-bottom: 25px !important
}

.spinner-container{
    height: 400px;
    width: 100%;
    position: relative;
    mat-spinner{
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
    }
}

.m-l-n-16{
    margin-left: -16px;
}

.header{
    min-height: 42px;
    background: gray;
    color: white;
    padding: 10px 8px;
    line-height: 24px;
    font-size: 13px;
    font-weight: 500;
    margin-left: -16px;
    margin-right: -16px;
    div{
        text-align: center;
        
    }
}

.m-b-5{
    margin-bottom: 5px !important
}