.m-b-25{
    margin-bottom: 25px !important
}

.spinner-container{
    height: 400px;
    width: 100%;
    position: relative;
    mat-spinner{
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
    }
}

.report-container{
    margin-top: -35px;
    form{
        padding: 0 0.5rem;
    }
}

.error{
    font-size: 12px;
    margin: 0 0.5rem;
}

.download-pdf{
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 1000;
}