<form [formGroup]="bitDetailsForm">
    <mat-expansion-panel class="bore-well-expansion-panel" expanded="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ 'POINT_ENTRY.RPM_DETAILS.TITLE' | translate }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="column">
            <div fxLayout>
                <div fxFlex class="m-b-16">
                    <span>{{ 'POINT_ENTRY.RPM_DETAILS.UPLOAD' | translate }}</span>
                </div>
            </div>
            <div class="m-r-n-10" fxLayout="row wrap" fxLayoutGap="40px" fxLayoutGap.lt-md="10px">
                <mat-form-field fxFlex.lt-md="calc(50% - 10px)" class="calc-field" fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.START_RPM' | translate }}</mat-label>
                    <input (input)="calculateTotalRpm()" formControlName="startRpm" type="text" matInput>
                </mat-form-field>

                <mat-form-field fxFlex.lt-md="calc(50% - 10px)" class="calc-field" fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.END_RPM' | translate }}</mat-label>
                    <input (input)="calculateTotalRpm()" formControlName="endRpm" type="text" matInput>
                </mat-form-field>

                <!-- <mat-form-field class="calc-field m-r-10" fxFlex [appearance]="appearance">
                    <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.TOTAL_RPM' | translate }}</mat-label>
                    <input readonly formControlName="totalRpm" type="text" matInput>
                </mat-form-field> -->
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout fxLayoutGap="10px">
                    <div fxFlex="25" class="bold">Total Rpm</div>
                    <div class="bold">:</div>
                    <div>{{ bitDetailsForm.get('totalRpm').value }}</div>
                </div>
                <div fxLayout fxLayoutGap="10px">
                    <div fxFlex="25" class="bold">Feet per Hour</div>
                    <div class="bold">:</div>
                    <div>{{ bitDetailsForm.get('totalFeetPerHour').value }}</div>
                </div>
            </div>
            <!-- <div class="m-b-16">
                <mat-checkbox>{{ 'POINT_ENTRY.RPM_DETAILS.BIT_CALC' | translate }}</mat-checkbox>
            </div> -->

            <!-- <div *ngFor="let bitCtrl of bitDetailsForm.get('bits').controls; let i = index" formArrayName="bits"
                fxLayout fxLayoutGap="20px" fxLayoutGap.lt-md="10px" fxLayout.lt-md="row wrap">
                <ng-container [formGroup]="bitCtrl">
                    <mat-form-field class="calc-field" fxFlex fxFlex.lt-md="calc(66% - 10px)" [appearance]="appearance">
                        <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.SELECT_BIT' | translate }}</mat-label>
                        <mat-select formControlName="bit">
                            <mat-option *ngFor="let bit of bits" [value]="bit.value">{{ bit.display }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field class="calc-field" fxFlex fxFlex.lt-md="calc(33% - 10px)" [appearance]="appearance">
                        <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.LAST_BIT_SCALE' | translate }}</mat-label>
                        <input type="text" formControlName="lastBitScale" matInput>
                    </mat-form-field>
                    <mat-form-field class="calc-field" fxFlex fxFlex.lt-md="calc(33% - 10px)" [appearance]="appearance">
                        <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.FEET' | translate }}</mat-label>
                        <input type="text" formControlName="feet" matInput>
                    </mat-form-field>
                    <mat-form-field class="calc-field" fxFlex fxFlex.lt-md="calc(33% - 10px)" [appearance]="appearance">
                        <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.FEET' | translate }}</mat-label>
                        <input type="text" formControlName="feet" matInput>
                    </mat-form-field>
                    <mat-form-field class="m-r-10 calc-field" fxFlex fxFlex.lt-md="calc(33% - 10px)" [appearance]="appearance">
                        <mat-label>{{ 'POINT_ENTRY.RPM_DETAILS.FEET' | translate }}</mat-label>
                        <input type="text" formControlName="feet" matInput>
                    </mat-form-field>
                    <div class="m-b-16" fxLayout="column" fxLayoutAlign="center center" *ngIf="bitFormArray.length > 1">
                        <span class="remove-btn" (click)="removeBit(i)">{{ 'BTN.REMOVE' | translate }}</span>
                    </div>
                </ng-container>
            </div>
            <div fxLayout fxLayoutAlign="end end">
                <button (click)="addMoreBit()" mat-raised-button color="primary">{{ 'BTN.ADD_MORE' | translate }}</button>
            </div>
            <div class="m-t-20">
                <span class="asterix">* </span><span>{{ 'POINT_ENTRY.RPM_DETAILS.MSG' | translate }}</span>
            </div> -->
        </div>
    </mat-expansion-panel>
</form>