.detail-row{
    overflow: hidden;
}

.mat-column-more_details{
    cursor: pointer;
    padding-right: 0px;
}

.arrow-container{
    min-height: inherit;
    width: 100%
}

.mat-column-serialNo{
    padding-left: 16px;
}