<form [formGroup]="form">
    <!-- <mat-card formGroupName="reBore" class="m-b-25">
        <mat-card-header>
            <mat-card-title>{{ 'ADD_AGENT.RE-BORE.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout fxLayout.lt-md="50">
                <mat-form-field fxFlex="50" fxFlex.lt-md="100" [appearance]="appearance">
                    <mat-label>{{ 'ADD_AGENT.RE-BORE.AMT' | translate }}</mat-label>
                    <input type="text" poistiveNumber matInput formControlName="amt">
                </mat-form-field>
                <div fxFlex></div>
            </div>
        </mat-card-content>
    </mat-card> -->
    <mat-card class="m-b-25">
        <mat-card-header>
            <mat-card-title>{{ 'ADD_AGENT.POINT.TITLE' | translate }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div [class.dashed]="pointFormArray.controls.length > 1 && !lastCtrl" *ngFor="let pointCtrl of pointFormArray.controls; let lastCtrl = last"
                formArrayName="particulars">
                <form [formGroup]="pointCtrl" fxLayout fxLayout.lt-md="row wrap" fxLayoutGap.lt-md="10px" fxLayoutGap="10px">
                    <mat-form-field fxFlex.lt-md="calc(50% - 10px)" fxFlex class="calc-field" [appearance]="appearance">
                        <mat-label>{{ 'ADD_AGENT.POINT.START_FEET' | translate }}</mat-label>
                        <input poistiveNumber formControlName="startFeet" matInput readonly>
                    </mat-form-field>
                    <mat-form-field fxFlex.lt-md="calc(50% - 10px)" fxFlex [appearance]="appearance" class="calc-field">
                        <mat-label>{{ 'ADD_AGENT.POINT.END_FEET' | translate }}</mat-label>
                        <input required (input)="calcParticulars(pointCtrl)" poistiveNumber formControlName="endFeet"
                            matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex.lt-md="calc(50% - 10px)" fxFlex [appearance]="appearance" class="calc-field">
                        <mat-label>{{ 'ADD_AGENT.POINT.PER_FEET' | translate }}</mat-label>
                        <input required (input)="calcParticulars(pointCtrl)" poistiveNumber formControlName="perFeet"
                            matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex.lt-md="calc(50% - 10px)" fxFlex [appearance]="appearance" class="calc-field">
                        <mat-label>{{ 'ADD_AGENT.POINT.PARTICULARS' | translate }}</mat-label>
                        <input required readonly formControlName="particulars" matInput>
                    </mat-form-field>
                    <mat-form-field class="m-r-10" fxFlex.lt-md="calc(100% - 10px)" fxFlex [appearance]="appearance"
                        class="calc-field">
                        <mat-label>{{ 'ADD_AGENT.POINT.AMOUNT' | translate }}</mat-label>
                        <input required readonly formControlName="amount" matInput>
                    </mat-form-field>
                </form>
            </div>
            <div *ngIf="pointFormArray.controls.length > 1" fxLayout fxLayoutAlign="end">
                <div (click)="removeLastPoint()" class="remove-btn m-b-10">{{'BTN.REMOVE' | translate }}</div>
            </div>
            <div fxLayout fxLayoutAlign="end">
                <div>
                    <button type="button" (click)="addPoint()" color="primary" mat-raised-button>{{ 'BTN.ADD_MORE' |
                        translate }}</button>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</form>