@import '~@angular/material/theming';

@include mat-core();

@mixin mat-table-theme($theme) {
    $primary: map-get($theme, primary);
    mat-header-row{
        background-color: mat-color($primary);
        mat-header-cell.mat-header-cell{
            
            color: white;
            font-size: 14px;
        }
    }
    mat-cell{
        background-color: white;
    }
    // .mat-table-sticky:first-child {
    //     border-right: 1px solid #e0e0e0;
    //   }
    mat-row{
        border-bottom-color: rgba(0,0,0,.12);
        &:hover{
            // background-color:  rgba(229, 230, 230, 0.25);
        }
    }
    mat-row:nth-child(4n +1) mat-cell.mat-cell, mat-row:nth-child(4n) mat-cell.mat-cell{
        background-color: rgb(247, 247, 247);
    }

    .arrow{
        border: 5px solid transparent;
        border-top-color: mat-color($primary);
    }


    // mat-cell.mat-cell{
    //     color: white;
    // }
}

$bore-well-primary: mat-palette($mat-cyan, 900, 500, A400);
$bore-well-accent:  mat-palette($mat-pink, A200, A100, A400);
$bore-well-warn:  mat-palette($mat-red);

$bore-well-theme: mat-light-theme($bore-well-primary, $bore-well-accent, $bore-well-warn);

@include angular-material-theme($bore-well-theme);
@include mat-table-theme($bore-well-theme);



